.env
.vs
.vscode
.DS_Store
/frontend/node_modules
/frontend/build
/backend/Data
/backend/Models
/backend/Controllers
/backend/FilePaths.cs
/backend/obj
/backend/bin
/backend/Properties/launchSettings.json
/backend/appsettings.Development.json
.bat