body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 1rem;
}
.auth-form {
  max-width: 420px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-control,
.form-select,
.btn {
  border-radius: 0;
}
main,
header {
  transition: 0.3s ease-in-out;
}
header {
  z-index: 999999999999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 330px;
  padding: 20px 15px;
  overflow-y: auto;
  overflow-x: none;
}
@media only screen and (max-width: 900px) {
  .navbar {
    display: block !important;
  }
  main {
    margin-left: -330px;
  }
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu a {
  display: flex;
  align-items: center;
  padding: 9px 10px;
  margin-bottom: 6px;
  font-size: 15px;
  user-select: none;
}
.nav-menu a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  font-size: 18px;
  margin-right: 15px;
}
.nav-menu li:hover,
.nav-menu .active {
  outline: 1px solid #fff;
}
